name: "Server Deployment" 
on:
  push:
    branches: [main] 
jobs:
  deployment:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Say Hello!
        run: echo "Hello Suresh!"
        
      - name: Deploy code to Server
        env:
         SSH_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          echo $SSH_KEY | base64 -d > /home/ec2-user/.ssh/id_rsa_github_secret  
            chmod 400 /home/ec2-user/.ssh/id_rsa_github_secret    
             ssh -i /home/ec2-user/.ssh/id_rsa_github_secret -o StrictHostKeyChecking=no ec2-user@54.162.160.129 "/var/www/html/git-ec2 && GIT_SSH_COMMAND='ssh -i /home/ec2-user/.ssh/id_rsa_github_secret' git pull origin main"
