name: Push-to-EC2

on: push

jobs:
  deploy:
    name: Push to EC2 Instance
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Checkout the code
      

      - name: Deploy to my EC2 instance
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SOURCE: "./"
          REMOTE_HOST: "ec2-54-162-160-129.compute-1.amazonaws.com" 
          REMOTE_USER: "ec2-user"
          TARGET: "/home/ec2-user/"
       
    
        
    
