name: "Server Deployment" 
on:
  push:
    branches: [main] 
jobs:
  deployment:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Deploy code to Server
        with:
          host: 54.162.160.129
          username: ec2-user
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: 
            cd /var/www/html/git-ec2/
            git pull origin main
       
        
        
    
