name: "Server Deployment" 
on:
  push:
    branches: [main] 
jobs:
  deployment:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Say Hello!
        run: echo "Hello Suresh!"
        
      - name: Deploy code to Server
              
        env:
         SSH_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
         echo $SSH_KEY | base64 -d > ssh-key 
         chmod 400 ssh-key    
             ssh -i ssh-key -o StrictHostKeyChecking=no ec2-user@54.162.160.129 "/var/www/html/git-ec2 && export GIT_SSH_COMMAND="ssh -i ~/.ssh/id_rsa_github_secret" git pull origin main"
